<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый доступ</title>
</head>
<body>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;}
    th, td {
        padding: 10px;}
    table {
        width:50%;
        background-color: #f1f1c1;}
</style>

<table>
    <!--ingress-->
    <tr>
        <form th:method="POST" th:action="@{/ingress/}" th:object="${ingress}">
            <td>Дата нового доступа</td>
            <td>
                <input type="text" th:field="*{dateIng}" id="dateIng"/>
                <div style="color:red" th:if="${#fields.hasErrors('dateIng')}" th:errors="*{dateIng}">Error</div>
            </td>
            <td><input type="submit" value="Создать"/></td>
        </form>
    </tr>
</table>
<br>
<a href="/ingress"><input type="submit" value="Назад"/></a>
<hr/>

</body>
</html>