<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Назначения</title>
</head>
<body>

<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;}
    th, td {
        padding: 10px;}
    table {
        width:50%;
        background-color: #f1f1c1;}
</style>

<table>
    <tr>
        <th><a href="/employee">Сотрудник</a></th>
        <th><a href="/position">Должность</a></th>
        <th><a href="/department">Департамент</a></th>
        <th colspan="3">Назначение</th>
    </tr>
    <tr th:each="appointment : ${appointment}">
        <td align="center">
            <span th:if="${appointment.getIdEmpApp}" th:text="${appointment.getIdEmpApp.getFullName()}"></span>
            <span th:unless="${appointment.getIdEmpApp}">-</span>
        </td>
        <td align="center">
            <span th:if="${appointment.getIdPosApp}" th:text="${appointment.getIdPosApp.getName()}"></span>
            <span th:unless="${appointment.getIdPosApp}">-</span>
        </td>
        <td align="center">
            <span th:if="${appointment.getIdDepApp}" th:text="${appointment.getIdDepApp.getName()}"></span>
            <span th:unless="${appointment.getIdDepApp}">-</span>
        </td>
        <td align="center" th:text="${appointment.getDateApp()}"></td>
        <td align="center">
            <form th:method="GET" th:action="@{/appointment/{id}/edit(id=${appointment.getId()})}">
                <input type="submit" value="Редактировать"/>
            </form>
        </td>
        <td align="center">
            <form th:method="DELETE" th:action="@{/appointment/{id}(id=${appointment.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>
</table>
<br>
<a href="/appointment?sort_by_dateApp=true"><input type="submit" value="Отсортировать назначения"/></a>
<br>
<a href="/appointment/new"><input type="submit" value="Новое назначение"/></a>

<br/>
<hr/>

<br/>
<a href="/">На главную</a>

</body>
</html>