<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Новый статус</title>
</head>
<body>

<form th:method="POST" th:action="@{/status}" th:object="${status}">
    <label for="name">Введите название статуса: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <input type="submit" value="Создать!"/>
</form>

<a href="/status">Назад</a>

</body>
</html>