<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<p th:text="${status.getName()}">VALUE</p>

<form th:method="GET" th:action="@{/status/{id}/edit(id=${status.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/status/{id}(id=${status.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

<hr/>

<div th:if="${requestList.isEmpty()}">
    <p>В данном статусом нет заявок</p>
    <hr/>
</div>

<div th:if="${!requestList.isEmpty()}">
    <hr/>
    <b>Сотрудники:</b>
    <br/>
    <table th:each="request : ${requestList}">
        <tr>
            <td>
                <span th:text="${
                'Дата назначения :' + request.getDateReq() +
                ', Аккаунт: ' + request.idUseReq.getName() +
                ', Сервис: ' + request.idSerReq.getName() +
                ', Роль: ' + request.idRolReq.getName()}">
                </span>
            </td>
        </tr>
    </table>
    <hr/>
</div>

<hr/>
<a href="/status">Назад</a>

</body>
</html>